.row {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    margin-bottom: 20px;
}

.form-input {
    border-radius: 0px !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
}

label {
    font-family: 'Gabriela', serif;
}

.name_coffe {
    margin-top: 0;
    color: rgb(84, 80, 126);
    font-weight: lighter;
    font-family: 'Gabriela', serif;
    font-size: 45px;
}

.open,
.serve {
    padding-top: 40px;
    font-size: medium;
    font-family: 'Gabriela', serif;
    color: rgb(112, 107, 164);
}

p {
    font-family: 'Gabriela', serif;
}

.serve,
.open,
.visit {
    font-family: 'Gabriela', serif;
}

.visit {
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 0;
}

.tag-a {
    padding-top: 30px;
    padding-left: 15px !important;
    padding-right: 0px !important;
}

.tag-a-2 {
    padding-top: 30px;
    padding-left: 15px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.t-a {
    text-decoration: none !important;
    font-weight: normal;
    font-size: 17px;
    color: #8986A5 !important;
}

.our,
.shop {
    padding-bottom: 40px;
    padding-right: 0px;
}

.long-text {
    color: #8986A5 !important;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.btn1 {
    background-color: rgb(248, 248, 248);
    border-color: black !important;
    color: #8986A5;
    border-radius: 0px;
}

.tag {
    margin-right: 10px !important;
    padding: 0px !important;
}

.row1 {
    margin-right: 5px !important;
}

.hr-droid {
    display: flex;
    margin-bottom: 50px;
}

.hr-line {
    width: 100%;
    position: relative;
    margin: auto;
    align-items: center;
    border-top: 1px solid #E3E0E0FF;
}

.black {
    border-color: #E3E0E0FF;
}

.log-img {
    position: relative;
    top: 70px;
    color: #E3E0E0FF;
}
.security{
    font-size: 12px;
}
