{% extends 'base.html' %}
{% block title %} dashboard {% endblock %}
{% block link %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12 col-lg-2 bg-light border" id="sidebar">
            <p id="btn-dashboard" class="btn btn-outline-secondary p-4 mt-2 w-100">Dashboard</p><br>
            <p id="btn-orders" class="btn btn-outline-secondary p-4 w-100">Orders</p>
            <p id="btn-tables" class="btn btn-outline-secondary p-4 w-100">Tables</p>
            <p id="btn-category" class="btn btn-outline-secondary p-4 w-100">category</p>
            <p id="btn-menu-items" class="btn btn-outline-secondary p-4 w-100">Menu Items</p>
            <p id="btn-receipts" class="btn btn-outline-secondary p-4 w-100">Receipts</p>
            <p id="btn-Contact" class="btn btn-outline-secondary p-4 w-100">Contact Us</p>
        </div>
        <div class="col-12 col-lg-10 border" id='views'>
            <div style="display: block" id="dashboard">{% include 'inc/admin-dashboard/dashboard.html' %}</div>
            <div style="display: none" id="orders">{% include 'inc/admin-dashboard/orders.html' %}</div>
            <div style="display: none" id="tables">{% include 'inc/admin-dashboard/tables.html' %}</div>
            <div style="display: none" id="category">{% include 'inc/admin-dashboard/category.html' %}</div>
            <div style="display: none" id="menu-items">{% include 'inc/admin-dashboard/menu-items.html' %}</div>
            <div style="display: none" id="receipts">{% include 'inc/admin-dashboard/receipts.html' %}</div>
            <div style="display: none" id="Contact">{% include 'inc/admin-dashboard/contact.html' %}</div>
        </div>
    </div>

    <script src="{{ url_for('static' , filename='dashboard/admin_dashboard/tables.js') }}"></script>
    <script src="{{ url_for('static' , filename='dashboard/admin_dashboard/category.js') }}"></script>
    <script src="{{ url_for('static' , filename='dashboard/admin_dashboard/menu-items.js') }}"></script>
    <script src="{{ url_for('static' , filename='dashboard/admin_dashboard/contact.js') }}"></script>
    <script src="{{ url_for('static' , filename='dashboard/admin_dashboard/order.js') }}"></script>
    <script src="{{ url_for('static' , filename='dashboard/admin_dashboard/receipts.js') }}"></script>
    <script src="{{ url_for('static' , filename='dashboard/admin_dashboard/js.js') }}"></script>
{% endblock %}