<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="font-family:Roboto,serif">choose type order</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="btn btn-danger m-2" data-bs-dismiss="modal" onclick="hozory()" href="/shop">hozoory</button>
                <button type="button" class="btn btn-danger m-2" data-bs-dismiss="modal" onclick="rezerv()">rezarv miz</button>
                <button type="button" class="btn btn-danger m-2" data-bs-dismiss="modal" onclick="bironbar()">biroon bar</button>
            </div>
    

            <!-- Modal footer -->
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>