<footer>
    <div class="row1 row">
        <div class="hr-droid">
            <div class="hr-line black"></div>
            <div><img src="../../static/footer/image/58556df7-6132-491b-a1a6-369c61738987.jpg" class="lo-img img-fluid"
                      alt="...">
            </div>
            <div class="hr-line purple"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h1 class="long-text">A DEDICATED GLUTEN-FREE BAKERY & CAFÉ.</h1>
            <p class="name_coffe" style="padding-top: 20px;">Paris Café</p>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="open">WE'RE OPEN : <br>
                    <p>Daily,8 am–2 pm</p>
                    </p>
                    <p class="open">Address<br>
                    <p>Paris Café, 10 Rue de Buci, 75006 Paris, France</p>
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="serve">SERVING : <br>
                    <p>Caffe and ...</p>
                    </p>
                    <p class="serve">Your level of satisfaction<br>
                    <p>100% Excellent</p>
                    </p>
                </div>
            </div>
            <p class="security">
                ©Lilac Pâtisserie. All rights reserved. Privacy policy & Terms. Site by Truss Creative
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="long-text">Something sweet for your inbox</h1>
            <p class="text-md-start" style="padding-top: 20px;">
                Join our mailing list for occasional news, recipes, and other sweet somethings.
            </p>
            <form>
                <div class="mb-3">
                    <input type="email" class="form-input form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                    <label for="examplet-atEmail1" class="form-label">Email address</label>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-input form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                    <label for="exampleInputEmail1" class="form-input form-label">Password</label>
                </div>
                <div class="submit col-12 col-lg-6">
                    <input type="button" class="btn1 btn-light" value="Sign Up">
                </div>
                <div class="tag row">
                    <div class="tag-a col-12 col-lg-6">
                        <a href="http://127.0.0.1:5000/our-story" class="t-a d-flex">our story</a>
                        <a href="http://127.0.0.1:5000/" class="t-a d-flex" style="padding-top: 30px;">the cafe</a>
                    </div>
                    <div class="tag-a-2 col-12 col-lg-6">
                        <a href="http://127.0.0.1:5000/shop" class="t-a d-flex">shop</a>
                        <a href="http://127.0.0.1:5000/contact" class="t-a d-flex" style="padding-top: 30px;">contact
                            us</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</footer>